<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OpenGL ES 05-多重纹理.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DA01514B1EA4C4BD000E7047</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA0151641EA4C4BD000E7047</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA01516F1EA4C4BD000E7047</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
